[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.13"
toml = "==0.10.2"
django-split-settings = "==1.2.0"
psycopg2-binary = "*"  # linux and mac
psycopg2 = "*"  # windows
celery = "==5.4.0"
eventlet = "==0.36.1"
tzdata = "==2024.1"
redis = "==5.0.7"
django-admin-rangefilter = "==0.13.0"
xmlschema = "==3.3.1"
requests = "==2.32.3"
requests-pkcs12 = "==1.25"
bs4 = "==0.0.2"

[dev-packages]
black = "==24.4.2"
isort = "==5.13.2"
flake8 = "==7.1.0"

[requires]
python_version = "3.8"
